.active {
    font-weight: bolder !important;
    font-size: 14px !important;
}
.menu-ul {
    list-style: none;
    cursor: pointer;
}
.menu-li {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 100;
}